<h1 id="tableLabel">Chat</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!messages"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<div id="chat-container" style="max-height: 400px; overflow-y: auto;">
  <app-message *ngFor="let message of messages" [message]="message" />
  <br>
</div>

  <mat-form-field appearance="fill">
    <mat-label>What would you like to ask?</mat-label>
    <input matInput placeholder="Ask away!" [(ngModel)]="userInput" />
  </mat-form-field>

  <button mat-icon-button (click)="sendMessage()">
    <mat-icon>favorite</mat-icon>
  </button>
