<h1 id="tableLabel">Chat</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!messages"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<mat-card *ngFor="let message of messages" appearance="outlined">
  <mat-card-header>
    <mat-card-title> Australian Shepherd</mat-card-title>
    <mat-card-subtitle>Herding group</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
<br>
<mat-card appearance="outlined">
  <mat-card-header>
    <mat-card-title>Poodle</mat-card-title>
    <mat-card-subtitle>Non-sporting group</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions align="end">
  </mat-card-actions>
</mat-card>
